---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About E huate"
	description="E-haute is a professional tablet pc manufacturer, ODM specialist, trusted global supplier with its own factory."
	pubDate={new Date('August 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		E Haute intelligent Technology is headquartered in Longhua Shenzhen with its strong infrastructure in R&D, supply chain management, creative talents for sustainable success achievement.
	</p>
	<p>
		We are focus on business of tablet PC ODM, IP68 industrial products, treadmill terminals, and digital signature products.
	</p>
</Layout>
