---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		    <main>
        <section class="main-hero">
            <div class="hero-content">
                <h1 class="hero-title">15 years of experience in<br>Tablet PC Manufacturer</h1>
                <p class="hero-description">
                    We provide one-stop tablet ODM customization services from design to production, 
                    creating high-quality, high-performance, High cost performance smart devices for global brands.
                </p>
                <div class="hero-buttons">
                    <a href="https://www.e-haute.com" class="btn btn-primary">Request a Custom Quote</a>
                </div>
            </div>
            <div class="hero-image">
                <img src="https://www.e-haute.com/wp-content/uploads/2025/12/tablet-pc-manufacturer-odm-customization.png" 
                     alt="E haute Tablet PC with Keyboard" />
            </div>
        </section>
    </main>
		<Footer />
	</body>
</html>
