---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		    <main>
        <section class="main-hero">
            <div class="hero-content">
                <h1 class="hero-title">15 years of experience in<br>Tablet PC Manufacturer</h1>
                <p class="hero-description">
                    We provide one-stop tablet ODM customization services from design to production, 
                    creating high-quality, high-performance, High cost performance smart devices for global brands.
                </p>
                <div class="hero-buttons">
                    <a href="#" class="btn btn-primary">Request a Custom Quote</a>
                    <a href="#" class="btn btn-secondary">Browse Custom Products</a>
                </div>
            </div>
            <div class="hero-image">
                <img src="https://p3-flow-imagex-download-sign.byteimg.com/tos-cn-i-a9rns2rl98/9b115b942285437ebf747ac6ac2b7daa.png~tplv-a9rns2rl98-24:720:720.png?rcl=2026010614283132FDE0C1F7518BFE30A6&rk3s=8e244e95&rrcfp=8a172a1a&x-expires=1768285712&x-signature=tKnm9Kqm9FKNe%2FdkR9d2%2FUkAOKE%3D" 
                     alt="ASTRO Tablet PC with Keyboard" />
            </div>
        </section>
    </main>
		<Footer />
	</body>
</html>
